.code-block { min-width: 0; }
.code-block pre { margin: 0; padding: 24px; font-size: 12.5px; line-height: 1.8; background: transparent !important; }
.code-block code { font-size: inherit; }
html[data-theme='dark'] .astro-code, html[data-theme='dark'] .astro-code span { color: var(--shiki-dark) !important; background-color: transparent !important; }
